In [314]:
# pip install eralchemy

import sqlite3
import pandas as pd
from IPython.display import display

In [315]:
database = 'data/mlb_data.sqlite'
conn = sqlite3.connect(database)
# cursor = conn.cursor()

In [316]:
query = 'SELECT player_id, ' \
        'SUM(g_c) as catcher, ' \
        'SUM(g_1b) as firstbaseman, ' \
        'SUM(g_2b) as secondbaseman, ' \
        'SUM(g_3b) as thirdbaseman, ' \
        'SUM(g_ss) as shortstop, ' \
        'SUM(g_of) as outfielder ' \
        'from appearances group by player_id'
plyr_pos_df = pd.read_sql_query(query, conn)
plyr_pos_df.head()

,player_id,catcher,firstbaseman,secondbaseman,thirdbaseman,shortstop,outfielder
0,aardsda01,0,0,0,0,0,0
1,aaronha01,0,210,43,7,0,2760
2,aaronto01,0,232,7,10,0,138
3,aasedo01,0,0,0,0,0,0
4,abadan01,0,8,0,0,0,1

In [317]:
# Number of gams in 1 MLB season today (and since 1961) is 162, it was 140 in 1901 and 154 in 1920
positions = ['catcher', 'firstbaseman', 'secondbaseman', 'thirdbaseman', 'shortstop', 'outfielder']
min_games_at_max_pos = plyr_pos_df[positions].max(axis=1) > 140
plyr_pos_df = plyr_pos_df[min_games_at_max_pos]

In [318]:
plyr_pos_df['position'] = plyr_pos_df[positions].idxmax(axis=1)
plyr_pos_df.set_index('player_id', inplace=True)
plyr_pos_df.head()

,catcher,firstbaseman,secondbaseman,thirdbaseman,shortstop,outfielder,position
player_id,,,,,,,
aaronha01,0,210,43,7,0,2760,outfielder
aaronto01,0,232,7,10,0,138,firstbaseman
abbated01,0,0,419,20,388,3,secondbaseman
abbeych01,0,0,0,0,0,451,outfielder
abbotje01,0,0,0,0,0,185,outfielder

In [319]:
player_list = plyr_pos_df.index.tolist()

In [320]:
query = "SELECT player_id, name_first ||' ' || name_last AS name, debut, weight, height, bats as bat_hand, throws as throw_hand FROM player"
players_df = pd.read_sql_query(query, conn)
player_mask = players_df['player_id'].isin(player_list)
players_df = players_df[player_mask]
players_df.set_index('player_id', inplace=True)
display(players_df.head())
# players_df.info()

                     name       debut weight height bat_hand throw_hand
player_id
aaronha01      Hank Aaron  1954-04-13    180     72        R          R
aaronto01    Tommie Aaron  1962-04-10    190     75        R          R
abbated01  Ed Abbaticchio  1897-09-04    170     71        R          R
abbeych01   Charlie Abbey  1893-08-16    169     68        L          L
abbotje01     Jeff Abbott  1997-06-10    190     74        R          L

In [321]:
players_df = pd.concat([players_df, plyr_pos_df['position']], axis=1)
players_df.head()

,name,debut,weight,height,bat_hand,throw_hand,position
player_id,,,,,,,
aaronha01,Hank Aaron,1954-04-13,180,72,R,R,outfielder
aaronto01,Tommie Aaron,1962-04-10,190,75,R,R,firstbaseman
abbated01,Ed Abbaticchio,1897-09-04,170,71,R,R,secondbaseman
abbeych01,Charlie Abbey,1893-08-16,169,68,L,L,outfielder
abbotje01,Jeff Abbott,1997-06-10,190,74,R,L,outfielder

In [322]:
print(players_df.isnull().sum())
print(players_df.info())

name          0
debut         0
weight        0
height        0
bat_hand      0
throw_hand    0
position      0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 4371 entries, aaronha01 to zwilldu01
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4371 non-null   object
 1   debut       4371 non-null   object
 2   weight      4371 non-null   object
 3   height      4371 non-null   object
 4   bat_hand    4371 non-null   object
 5   throw_hand  4371 non-null   object
 6   position    4371 non-null   object
dtypes: object(7)
memory usage: 273.2+ KB
None

In [323]:
missing_height_or_weight = (players_df['height'] == '') | (players_df['weight'] == '')
display(players_df[missing_height_or_weight])

missing_bat_or_throw_hand = (players_df['bat_hand'] == '') | (players_df['throw_hand'] == '')
display(players_df[missing_bat_or_throw_hand])

print(players_df['bat_hand'].value_counts())
print(players_df['throw_hand'].value_counts())

,name,debut,weight,height,bat_hand,throw_hand,position
player_id,,,,,,,
barrysh01,Shad Barry,1899-05-30,,,R,R,outfielder
birchju01,Jud Birchall,1882-05-02,,,,,outfielder
boothed01,Eddie Booth,1872-04-26,,,,,outfielder
creamge01,George Creamer,1878-05-01,,74,R,R,secondbaseman
dehlmhe01,Herman Dehlman,1872-05-02,,,,,firstbaseman
dunnja01,Jack Dunn,1897-05-06,,69,R,R,thirdbaseman
edench01,Charlie Eden,1877-08-17,168,,L,L,outfielder
fostepo01,Pop Foster,1898-09-13,,68,R,R,outfielder
gleasja01,Jack Gleason,1877-10-02,170,,R,R,thirdbaseman
greenda01,Danny Green,1898-08-17,,,L,R,outfielder
hahned01,Ed Hahn,1905-08-31,160,,L,R,outfielder
harbibi01,Bill Harbridge,1875-05-15,162,,L,L,outfielder
hillhu01,Hunter Hill,1903-07-01,,,R,R,thirdbaseman
holbebi01,Bill Holbert,1876-09-05,197,,R,R,catcher
holdsji01,Jim Holdsworth,1872-05-14,,,R,R,outfielder
johnsbi01,Lefty Johnson,1884-06-27,167,,L,L,outfielder
lilliji01,Jim Lillie,1883-05-17,,,R,,outfielder
mccorba01,Barry McCormick,1895-09-25,,69,R,R,thirdbaseman
mclauto01,Tom McLaughlin,1883-07-17,,,R,R,shortstop
moranch01,Charles Moran,1903-04-29,,,,R,shortstop
myersbe01,Bert Myers,1896-04-25,,70,R,R,thirdbaseman
nealoji01,Joe Nealon,1906-04-12,,73,R,R,firstbaseman
shayda01,Danny Shay,1901-04-30,,70,R,R,shortstop
smallwi01,Will Smalley,1890-04-19,,,R,R,thirdbaseman
smithal01,Aleck Smith,1897-04-23,,,,R,catcher
sullide02,Denny Sullivan,1905-04-22,,70,L,R,outfielder
sullima01,Marty Sullivan,1887-04-30,,,R,R,outfielder
whitied01,Ed Whiting,1882-05-02,188,,L,R,catcher

,name,debut,weight,height,bat_hand,throw_hand,position
player_id,,,,,,,
bechtge01,George Bechtel,1871-05-20,165,71,,,outfielder
bergema01,Marty Bergen,1896-04-17,170,70,,R,catcher
birchju01,Jud Birchall,1882-05-02,,,,,outfielder
boothed01,Eddie Booth,1872-04-26,,,,,outfielder
bradyst01,Steve Brady,1874-07-23,165,69,,,outfielder
briodfa01,Fatty Briody,1880-06-16,190,68,,R,catcher
burnsji01,Jim Burns,1888-09-25,168,67,R,,outfielder
childpe01,Pete Childs,1901-04-24,175,67,,R,secondbaseman
dehlmhe01,Herman Dehlman,1872-05-02,,,,,firstbaseman
dungasa01,Sam Dungan,1892-04-12,180,71,R,,outfielder
evansja01,Jake Evans,1879-05-01,154,68,,R,outfielder
farrasi01,Sid Farrar,1883-05-01,185,70,,R,firstbaseman
farrejo01,Joe Farrell,1882-05-01,160,66,R,,thirdbaseman
fieldji01,Jim Field,1883-06-02,170,73,,,firstbaseman
foleycu01,Curry Foley,1879-05-13,160,70,,L,outfielder
gedneco01,Count Gedney,1872-04-27,140,69,,,outfielder
geerbi01,Billy Geer,1874-10-15,160,68,,R,shortstop
gilbepe01,Pete Gilbert,1890-09-06,180,68,,R,thirdbaseman
greybi01,Bill Gray,1890-05-14,175,71,,,thirdbaseman
hallijo01,Jocko Halligan,1890-05-13,166,69,L,,outfielder
hassabi01,Bill Hassamaer,1894-04-19,180,72,,,outfielder
hayesja01,Jackie Hayes,1882-05-02,175,68,,R,catcher
kenneed01,Ed Kennedy,1883-05-01,150,66,,,outfielder
knowlji01,Jimmy Knowles,1884-05-02,160,69,R,,thirdbaseman
lehanmi01,Mike Lehane,1890-04-17,180,73,R,,firstbaseman
lilliji01,Jim Lillie,1883-05-17,,,R,,outfielder
mackre01,Reddy Mack,1885-09-16,182,68,R,,secondbaseman
mansemi01,Mike Mansell,1879-05-01,175,71,L,,outfielder
mayered01,Ed Mayer,1890-04-19,155,68,,,thirdbaseman
mccorje01,Jerry McCormick,1883-05-01,178,71,,,thirdbaseman
mckinal01,Alex McKinnon,1884-05-01,170,71,R,,firstbaseman
mcquemo01,Mox McQuery,1884-08-20,195,73,,,firstbaseman
millejo02,Joe Miller,1884-05-01,165,69,R,,shortstop
millsev01,Everett Mills,1871-05-05,174,73,,,firstbaseman
moranch01,Charles Moran,1903-04-29,,,,R,shortstop
muldomi01,Mike Muldoon,1882-05-01,165,68,,,thirdbaseman
mullato01,Tony Mullane,1881-08-27,165,70,B,,outfielder
nichopa01,Parson Nicholson,1888-09-14,148,69,R,,secondbaseman
obrieto02,Tom O'Brien,1897-05-10,170,71,,,outfielder
parroji01,Jiggs Parrott,1892-07-11,160,71,,,thirdbaseman
phillma01,Marr Phillips,1884-05-01,164,66,R,,shortstop
raymoha01,Harry Raymond,1888-09-09,179,69,,,thirdbaseman
recciph01,Phil Reccius,1882-09-25,163,69,,,thirdbaseman
richmjo01,John Richmond,1875-04-22,170,69,,R,shortstop
ryanjo01,Johnny Ryan,1873-08-19,150,67,,,outfielder
scottmi01,Milt Scott,1882-09-30,160,69,R,,firstbaseman
shannda01,Dan Shannon,1889-04-17,175,69,R,,secondbaseman
smithal01,Aleck Smith,1897-04-23,,,,R,catcher
sneedjo01,John Sneed,1884-05-01,160,68,L,,outfielder
sullida01,Dan Sullivan,1882-05-02,194,71,,R,catcher
sullijo01,Joe Sullivan,1893-04-27,178,70,,,shortstop
tayloha01,Harry Taylor,1890-04-18,160,74,L,,firstbaseman
treacfr01,Fred Treacey,1871-05-16,145,69,,R,outfielder
warnefr01,Fred Warner,1875-04-21,155,67,,,thirdbaseman
weavefa01,Farmer Weaver,1888-09-16,170,70,B,,outfielder
whistle01,Lew Whistler,1890-08-07,178,70,,R,firstbaseman
whitewa01,Warren White,1871-06-17,170,70,,,thirdbaseman
wilsobi01,Bill Wilson,1890-04-30,190,69,,R,catcher
wriglze01,Zeke Wrigley,1896-08-31,150,68,,,shortstop

R    2560
L    1353
B     418
       40
Name: bat_hand, dtype: int64
R    3744
L     584
       43
Name: throw_hand, dtype: int64

In [324]:
players_df = players_df[~missing_height_or_weight & ~missing_bat_or_throw_hand]
players_df['debut'] = pd.to_datetime(players_df['debut'])
players_df['rookie_year'] = players_df['debut'].dt.year
players_df.drop(['debut'] , axis=1, inplace=True)
players_df['height'] = players_df['height'].astype(int)
players_df['weight'] = players_df['weight'].astype(int)

In [325]:
print(players_df.info())
print(players_df.shape)
display(players_df.head(10))

<class 'pandas.core.frame.DataFrame'>
Index: 4290 entries, aaronha01 to zwilldu01
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         4290 non-null   object
 1   weight       4290 non-null   int64
 2   height       4290 non-null   int64
 3   bat_hand     4290 non-null   object
 4   throw_hand   4290 non-null   object
 5   position     4290 non-null   object
 6   rookie_year  4290 non-null   int64
dtypes: int64(3), object(4)
memory usage: 268.1+ KB
None
(4290, 7)

,name,weight,height,bat_hand,throw_hand,position,rookie_year
player_id,,,,,,,
aaronha01,Hank Aaron,180,72,R,R,outfielder,1954
aaronto01,Tommie Aaron,190,75,R,R,firstbaseman,1962
abbated01,Ed Abbaticchio,170,71,R,R,secondbaseman,1897
abbeych01,Charlie Abbey,169,68,L,L,outfielder,1893
abbotje01,Jeff Abbott,190,74,R,L,outfielder,1997
abbotku01,Kurt Abbott,180,71,R,R,shortstop,1993
abernbr01,Brent Abernathy,185,73,R,R,secondbaseman,2001
abnersh01,Shawn Abner,190,73,R,R,outfielder,1987
abramca01,Cal Abrams,185,72,L,L,outfielder,1949
abreubo01,Bobby Abreu,220,72,L,R,outfielder,1996

In [326]:
# players_df = pd.get_dummies(players_df, columns=['position','bat_hand', 'throw_hand'])
# display(players_df.head(10))

In [327]:
query = "SELECT player_id, year, stint, g as games, ab as at_bats, h as hits, hr, rbi FROM batting"
performance_df = pd.read_sql_query(query, conn)
player_mask = performance_df['player_id'].isin(player_list)
performance_df = performance_df[player_mask]
performance_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45568 entries, 1 to 101330
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  45568 non-null  object
 1   year       45568 non-null  int64
 2   stint      45568 non-null  int64
 3   games      45568 non-null  int64
 4   at_bats    45568 non-null  object
 5   hits       45568 non-null  object
 6   hr         45568 non-null  object
 7   rbi        45568 non-null  object
dtypes: int64(3), object(5)
memory usage: 3.1+ MB

In [328]:
performance_df['at_bats'] = performance_df['at_bats'].astype(int)
necessary_at_bats = performance_df['at_bats'] > 502
performance_df = performance_df[necessary_at_bats]

performance_df['hits'] = performance_df['hits'].astype(int)
performance_df['hr'] = performance_df['hr'].astype(int)
performance_df['rbi'] = performance_df['rbi'].astype(int)
performance_df['ba'] = performance_df['hits'] / performance_df['at_bats']

display(performance_df.shape)
display(performance_df['stint'].value_counts())
display(performance_df.groupby(['player_id', 'year']).ngroups)
## No Player-Year combo has more than one stint with > 502 at bats; hence we can drop stint
performance_df.drop(['stint', 'at_bats', 'hits'] , axis=1, inplace=True)
performance_df.info()

(8468, 9)

1    8435
2      33
Name: stint, dtype: int64

8468

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8468 entries, 2141 to 101305
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  8468 non-null   object
 1   year       8468 non-null   int64
 2   games      8468 non-null   int64
 3   hr         8468 non-null   int64
 4   rbi        8468 non-null   int64
 5   ba         8468 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 463.1+ KB

In [330]:
performance_df.set_index(['player_id', 'year'], inplace=True)
performance_df.sort_index(inplace=True)
display(performance_df.head(75))

                games  hr  rbi        ba
player_id year
aaronha01 1955    153  27  106  0.313953
          1956    153  26   92  0.328407
          1957    151  44  132  0.321951
          1958    153  30   95  0.326123
          1959    154  39  123  0.354531
...               ...  ..  ...       ...
allendi01 1964    162  29   91  0.318038
          1965    161  20   85  0.302100
          1966    141  40  110  0.316794
          1968    152  33   90  0.262956
          1971    155  23   90  0.295082

[75 rows x 4 columns]

In [334]:
performance_df['cum_games'] = performance_df.groupby(level='player_id')['games'].cumsum()

In [335]:
display(performance_df.head(75))

                games  hr  rbi        ba  cum_games
player_id year
aaronha01 1955    153  27  106  0.313953        153
          1956    153  26   92  0.328407        306
          1957    151  44  132  0.321951        457
          1958    153  30   95  0.326123        610
          1959    154  39  123  0.354531        764
...               ...  ..  ...       ...        ...
allendi01 1964    162  29   91  0.318038        162
          1965    161  20   85  0.302100        323
          1966    141  40  110  0.316794        464
          1968    152  33   90  0.262956        616
          1971    155  23   90  0.295082        771

[75 rows x 5 columns]